body {
  margin: 0;
  font-family: "Popper", sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1rem;
}

#container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.toast {
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem;
}
